<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom nyu-navbar {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">
  <div class="container-xl">
    <a class="navbar-brand nyu-brand" href="{{ '/' | relative_url }}">
      {% if site.avatar %}
        <img
          class="nyu-brand-icon"
          src="{{ site.avatar | relative_url }}"
          alt=""
          aria-hidden="true"
        />
      {% endif %}
      <span class="nyu-brand-text">NYUMets</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav ml-auto">
        {%- for link in site.navbar-links -%}
          {%- if link[1].first -%}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown{{ forloop.index }}"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ link[0] }}
              </a>

              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdown{{ forloop.index }}"
              >
                {%- for childlink in link[1] -%}
                  {%- for linkparts in childlink -%}
                    {% assign child_url = linkparts[1] %}
                    <a
                      class="dropdown-item"
                      href="{% if child_url contains '://' %}{{ child_url }}{% else %}{{ child_url | relative_url }}{% endif %}"
                    >
                      {{ linkparts[0] }}
                    </a>
                  {%- endfor -%}
                {%- endfor -%}
              </div>
            </li>
          {%- else -%}
            {% assign nav_url = link[1] %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% if nav_url contains '://' %}{{ nav_url }}{% else %}{{ nav_url | relative_url }}{% endif %}"
              >
                {{ link[0] }}
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
